/* Reset */

/* @import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  border: 1px solid dodgerblue;
  padding: 20px;
  margin: 10px;
  background-color: goldenrod;
  color: blue;
  font-size: 50px;
  font-family: "Monsieur La Doulaise", cursive, sans-serif;
}

.img-container {
  border: 2px solid red;
  max-width: 600px;
}

.img-container img {
  width: 100%;
}

.container {
  text-align: center;
  color: #fff;
  max-width: 600px;
  height: 400px;
  background-image: url("./images/nature.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.food-list {
  max-width: 350px;
  margin: 25px auto;
  font-family: sans-serif;
}

.list {
  list-style: none;
}

.title {
  background-color: goldenrod;
  color: white;
  padding: 10px;
  border-radius: 8px;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  text-align: center;
}

.list {
  border: 2px solid #ddd;
}

.list li {
  border: 1px solid #ddd;
  padding: 8px;
}
